body {
  padding-bottom: 40px;
}
#gallery {
  display: flex;
  justify-content: center;
}
.task-title {
  text-align: center;
  margin: 20px;
}
.gallery-img {
  width: 100%;
  height: 100%;
}
.gallery-item {
  width: 30%;
  list-style: none;
  margin: 15px;
}
#counter {
  text-align: center;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
